<div class="span9">
    <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li class="active">Profile</li>
    </ul>
    <div class="well">
        <form action="/user/profile" method="post" class="form-horizontal">
            <h4>Your personal information</h4>

            <%if (locals.message){%>
                <div class="alert alert-block alert-success fade in"><%=message%></div>    
            <%}%>
            <%if (locals.error){%>
                <div class="alert alert-block alert-error fade in"><%=error%></div>   
            <%}%>
            <div class="control-group">
                <label class="control-label" for="inputFname1">Full name <sup>*</sup></label>
                <div class="controls">
                    <input name="fullname" value="<%=user.fullname%>" type="text" id="inputFname1" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputLnam">Phone <sup>*</sup></label>
                <div class="controls">
                    <input name="phone" value="<%=user.phone%>" type="number" id="inputLnam" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input_email">Email <sup>*</sup></label>
                <div class="controls">
                    <input name="email" type="text" id="input_email" value="<%=user.email%>" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input_email">Address <sup>*</sup></label>
                <div class="controls">
                    <input name="address" type="text" id="input_email" value="<%=user.address%>" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input_email"></label>
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            <!-- <div class="control-group">
                <label class="control-label" for="inputPassword1">Password <sup>*</sup></label>
                <div class="controls">
                    <input type="password" id="inputPassword1" placeholder="Password">
                </div>
            </div> -->
        </form>
    </div>

</div>